.maps
    height: 761px
    margin-top: 202px

.city
    width: 324px
    margin-right: 45px

.meet
    margin-bottom: 57px

.meetUsh1
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 60px;
    margin-bottom: 12px

.cityContainer
    height: 130px
    width: 270px
    cursor: pointer
    display: block
    

.cityWrapper
    display: flex
    margin-left: 14px
    

.cityContainer:after 
    width: 244px
    border-bottom: 1px solid #EEEEEE
    display: block
    clear: both
    content: ""
    position: relative



.cityDescription
    margin-left: 20px

.cityMapIcon
    height: 30px
    width: 30px
    

.usa
    font-weight: 600
    font-size: 18px
    line-height: 28px
    letter-spacing: 0.2px
    color: #00A031
    margin-bottom: 5px

.cityContainer a
    text-decoration: none


