@import "../_breackpoints"
    
.sliderConteiner
    width: 1200px
    display: flex
    justify-content: center
    margin: auto
    


.btnLeft, .btnRight
    display: flex
    width: 100%
    



.btn-conteiner
    margin-top: 227px
    height: 130px
    display: flex
    background: #FBFBFB
    
    

    


.carusel-slider-button
    height: 130px
    width: 100px


.slide-botton
    height: 100px
    width: 100px

button:disabled
    
    opacity: 0.5


.carusel-slider-stack
    display: flex
    justify-content: center
    align-items: center
    

.stack-slider-1
    z-index: 0

.stack-slider-2
    z-index: -1
    position: absolute
    margin-left: 120px
    opacity: 0.7
    filter: blur(6px)


.stack-slider-3
    z-index: -2
    position: absolute
    margin-left: 200px
    opacity: 0.2
    filter: blur(8px)


.container-textfoto
    display: flex

.slide2
    height: 503px
    width: 371px

.slide3
    height: 443px
    width: 311px

.slide-botton-iamge
    height: 130px

.slide
    height: 630px


.btnSwiper
    width: 100%

.nextEndArrow

.prevEndArrow
    float: right

.btnLeft
    justify-content: flex-end




@media (max-width: 1260px)
    .container-textfoto
        display: flex
        flex-direction: column-reverse
    .sliderConteiner
        width: auto
    .description-con
        display: flex
        justify-content: center
    .container-description
        display: flex
        flex-direction: column-reverse
    .btn-conteiner
        margin-top: 30px
        margin-bottom: 30px
    .slide3
        height: 343px
    .slide2
        height: 403px
    .slide
        height: 530px
    .stack-slider-2
        margin-left: 75px
    .stack-slider-3
        margin-left: 150px

